* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  margin: 20px;
  font: poppins;
  /* background-color: ; */
  /* background-clip: ; */
  background-image: url("assets/15.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: linear-gradient(rgba(230, 222, 227, 0.39),rgba(196, 195, 200, 0.39));
  
}

h1{
  color: black;
}

#main{
  width: 100%;
  height: 50vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: #FED3DA;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
  z-index: 1;
}
.yoga{
  text-align: right;
}
.second{
  color: black;
  margin-top: 400px;
  font-size: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column 2fr 1fr;
  column-gap: 400px;
}
.ML{
 
 border-radius: 40px;
 background-color: #FED3DA;
 color: white;
 border: none;
 width: fit-content;
 box-shadow: 0px 4px 8px #D20976;
 cursor: pointer;
 vertical-align: middle;
 margin-top: 20px;
 

}

.logo img{
  width:  70px;
  
}


.menu{
  list-style: none;
  display: flex;
}
li{
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  cursor: pointer;
  


  transition: 0.5s;
}
li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #FF7598;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
li:hover {
  color: #95a5a6;
}
li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu li a{
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(28, 57, 5);
}

a{
  text-decoration: none;
}

.hey{
  color: #13512b;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid #0c230f;
}
p{
  color: black;
}

.ban{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.39),rgba(0,0,0,0.39));
}

.ban video{
  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  
}

@media(min-aspect-ratio: 16/9){
  .ban video{
    width: 100%;
    height: auto;
  }
}
.image{
  width: 500px;
  height: 500px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content {
  text-align: center;
 
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 40%;
  right: 50%;
 
  transform: translate(-50%, -50%);
}

.main-text{
  width: 900px;
}
.frontt{
  border-radius: 20px;
  
  margin-left: 100px;
  
}
.main-text h1 {
  font-size: 3.5em;
  color: #365064;
  margin: 0 px 0px 10 px 0 px;
  line-height: 60px;
  margin-left: 180px;
}

.main-text h2 {
  
  color: #D20976;
  
 
  margin-left: 180px;
}

.main-text p{
  color: rgb(117, 102, 102);
  margin-left: 180px;
  
}

.button {
  align-self: center;
  object-position: center;
  text-align: center;
  width: 190px;
  height: 44px;
  border: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  color: rgb(15, 13, 13);
  background-color: #78799e;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.button:hover{
  background-color: rgba(143, 137, 230, 0.867);
  transition: all ease0.2s;
}


.logo{
  background: none;
  mix-blend-mode: multiply;
  padding-left: 0px;
}
.second{
  letter-spacing: 1px;
  line-height: 50px;
  font-weight: 500;
  font-size: 1.5rem;
}
/* #footer {
  position: fixed;
  /* padding: 10px 10px 0px 10px; */
  /* bottom: 0;
  width: 100%; */
  /* Height of the footer*/
  /* height: 40px;
  background: blue;
  } */ 